.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.left-section {
  display: flex;
  flex-direction: row;
  width: 420px;
  flex-shrink: 0;
  background-color: white;
  border-right: 1px solid #eee;
  margin: 0;
}

.sidebar-wrapper {
  width: 70px;
  flex-shrink: 0;
  background-color: white;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
}

.left-section {
  display: flex;
  flex-direction: row;
  width: 420px;
  flex-shrink: 0;
  background-color: white;
  border-right: 1px solid #eee;
  margin: 0;
}

.right-section {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: relative;
}
