.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100vh;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 270px;
  justify-content: center;
}

.error-container {
  height: 20px;
  display: flex;
  align-items: flex-start;
}

input {
  height: 36px;
  font-size: 16px;
  padding: 6px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-button {
  width: 80px;
  height: 80px;
  background-color: #9a7937;
  border-radius: 10%;
  border-color: #9a7937;
  border-bottom: #9a7937;
  border-right: #9a7937;
}

.logo {
  width: 300px;
  height: 300px;
  align-items: center;
}

.formbody {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  width: 350px;
}

.formtitle {
  width: 350px;
  text-align: left;
  margin-bottom: 8px;
}

.formbox {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-option {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #555;
  margin-top: 8px;

  flex-wrap: nowrap;
  white-space: nowrap;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.plane-link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 0;
  text-align: left;
  line-height: 1.2;
}

.plain-button {
  color: #555; /* 글자 색 (원하는 색상) */
  cursor: pointer; /* 마우스 포인터 */
  text-decoration: none; /* 밑줄 제거 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 여백 제거 */
  font: inherit; /* 글꼴 상속 */
  display: inline; /* 인라인 요소 유지 */
}

.plain-button:hover {
  text-decoration: none;
}
